<h1>Last 20 Game Results</h1>
<table>
<thead>
<tr>
  <th>Your Move</th>
  <th>Computer Move</th>
  <th>You Won?</th>
  <th>You Tied?</th>
  <th>Time</th>
</tr>
</thead>

<% @all.each do |g| %> 

<!-- g.values[:human_play] is same as g.human_play! -->
<tr>
  <td><%= g.human_play %></td>
  <td><%= g.computer_play %></td>
  <td><%= g.won %></td>
  <td><%= g.tied %></td>
  <td><%= g.created_at %></td>
</tr>
<% end %>

<a href="/rps_game">Play Again!</a>
</tbody>
</table>

