   <h1>This Game's Results</h1>
<table>
<thead>
<tr>
  <th>Your Move</th>
  <th>Computer Move</th>
  <th>You Won?</th>
  <th>You Tied?</th>
  <th>Time</th>
</tr>
</thead>

<tr>
  <td><%= @gresult.human_play %></td>
  <td><%= @gresult.computer_play %></td>
  <td><%= @gresult.won %></td>
  <td><%= @gresult.tied %></td>
  <td><%= @gresult.created_at %></td>
</tr>
<tr>
  <a href="/rps_game">Play Again!   </a>
  <td><a href="/rps_game_results">   Show Latest 20 Results</a></td>
</tr>

</tbody>
</table>